<div class="content" >
  <div class="splitL left">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search</mat-label>
        <input type="text" matInput [formControl]="myControl">
      </mat-form-field> 
    </form>
    <mat-card *ngFor="let emp of filteredOptions | async" class="card-selected" (click)="displayChart(emp.id)">
        <mat-card-content>
        <h5><Span>Name:</Span> {{emp.Name}} </h5>
        <h5><Span>Designation:</Span> {{emp.Designation}} </h5>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="splitR right">
    <h4>
      <button class="btn btn-success" (click)="initialise(false)">Reset</button>
    </h4>
    <div id="tree"></div>
  </div>
  
</div>

